#root {
  width: 100vw;
  margin: 0 ;
  padding: 0;
  text-align: center;
}
button{
  color: #00a6ff;
}
h1{
  color: #00a6ff;
}
.icon{
  color: #00a6ff;
  size: 100px;
  margin-left: 20px;
}
.logo {
  /* background-image: url(ECommerce-page\react\src\components\heart-solid.svg); */
  height: 30px;
  width: 30px;
  color: #00a6ff;
  margin: 20px;
}
/* .container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000;
  align-items: center;
  justify-content: center;
} */
 .hhead{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
 }
.head{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:  aliceblue; 
  padding: 20px;
  gap: 20px;
}
.display{
  display: flex;
  grid-row: 20px;
  grid-column: auto;
  width: auto;
}
.items{
  display: grid;
  grid-template-columns: 80%;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.card{
  width: 100%;
  display: flex;
  flex-direction:column;
  height: 600px;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}
.item div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
.img{
  width: 100%;
  height: 290px;
}
.but{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mmodal{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.modal{
  background-color: beige;
  position:fixed ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 60vw;
}
.mitem{
  width: 100%;
  display: flex;
  flex-direction:column;
  padding: 10px;
  justify-content: space-between;
  max-width: 93vw;
}
.mimg{
  height: 50px;
  width: auto;
}
.close{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: beige;
  border: 0;
}
.close:focus,
.close:focus-visible {
  outline: 0;
}
@media only screen and (min-width: 600px) {
  .items{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .head{
    padding: 40px;
  }
  h1{
    font-size: 40px; 
  } 
  .mitem{
    width: 100%;
    display: flex;
    flex-direction:row;
    padding: 20px;
    justify-content: space-between;
  }
  .mimg{
    height: 50px;
    width: auto;
  }
  .card{
    padding: 5px;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1001px) {
  .items{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
